<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Node JS</title>
</head>
<body>

    <header class="container">
        <h1 id="logo">Notes<span id="logotxt">App</span></h1>
        <nav>
            <ul>
                <li class="nav-link"><a href="/">Home</a></li>
                <li class="nav-link"><a href="/notes">Notes</a></li>
                <li class="nav-link"><a href="/create">Create</a></li>
                <li class="nav-link"><a href="/login">Login</a></li>
                <li class="nav-link"><a href="/signup">Sign Up</a></li>
            </ul>
        </nav>
   </header>
