<%- include('partials/header') %>
    <main class="container" id="home">
        
        <div class="col">
            <img src="/images/err404.png" id="img404" alt="img">
        </div>
        <div class="col">
            <h1>Opps Sorry ☹️☹️</h1>
            <p>The Page You are looking for is not available ☹️</p>
        </div>
    </main> 
<%- include('partials/footer') %>