<%- include('partials/header') %>
    <main class="container" id="home">
        <div class="col">
            <h1>NotesApp</h1>
            <p>NotesApp lets you create and manage your notes with ease. <br>Take Notes anytime, anywhere.</p>
            <p></p>
            <a href="/notes" class="btn">View Your Notes</a>
        </div>
        <div class="col">
            <img src="/images/noteimg.png" alt="img">
        </div>
    </main> 
<%- include('partials/footer') %>
